<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerName" value="Ruby:389" />
    <add key="Container" value="CN=ruby,DC=crossover,DC=com" />
    <add key="ServerName" value="Ruby:389" />
    <add key="UserContainer" value="CN=Users,CN=ruby,DC=crossover,DC=com" />
  </appSettings>
</configuration>