/****** Object:  Database [LdapSsoDB]    Script Date: 31-Jul-16 5:43:40 AM ******/
CREATE DATABASE [LdapSsoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LdapSsoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LdapSsoDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LdapSsoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\LdapSsoDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LdapSsoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LdapSsoDB]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 31-Jul-16 5:43:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Groups](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserGroups]    Script Date: 31-Jul-16 5:43:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroups](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[GroupId] [bigint] NOT NULL,
 CONSTRAINT [PK_UserGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserLease]    Script Date: 31-Jul-16 5:43:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLease](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[ExpiresOn] [datetime] NOT NULL,
 CONSTRAINT [PK_UserLease] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 31-Jul-16 5:43:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ObjectGuid] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

GO
INSERT [dbo].[Groups] ([Id], [GroupName]) VALUES (1, N'Administrators')
GO
INSERT [dbo].[Groups] ([Id], [GroupName]) VALUES (2, N'Guests')
GO
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[UserGroups] ON 

GO
INSERT [dbo].[UserGroups] ([Id], [UserId], [GroupId]) VALUES (1, 1, 1)
GO
INSERT [dbo].[UserGroups] ([Id], [UserId], [GroupId]) VALUES (2, 1, 2)
GO
INSERT [dbo].[UserGroups] ([Id], [UserId], [GroupId]) VALUES (3, 6, 1)
GO
SET IDENTITY_INSERT [dbo].[UserGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLease] ON 

GO
INSERT [dbo].[UserLease] ([Id], [UserId], [ExpiresOn]) VALUES (1, 1, CAST(0x0000A65A0106BE5B AS DateTime))
GO
INSERT [dbo].[UserLease] ([Id], [UserId], [ExpiresOn]) VALUES (3, 3, CAST(0x0000A65901549D60 AS DateTime))
GO
INSERT [dbo].[UserLease] ([Id], [UserId], [ExpiresOn]) VALUES (4, 4, CAST(0x0000A65B005BB5BD AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[UserLease] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

GO
INSERT [dbo].[Users] ([Id], [ObjectGuid], [UserName], [Password]) VALUES (1, N'7a659469-bf30-4fb1-bc71-1c61d66dba1e', N'pratik1', N'cGFzc3dvcmQ=')
GO
INSERT [dbo].[Users] ([Id], [ObjectGuid], [UserName], [Password]) VALUES (3, N'6cb76c30-46bf-410e-8c77-55d23b06f6bf', N'pp151', N'cGFzc3dvcmQ=')
GO
INSERT [dbo].[Users] ([Id], [ObjectGuid], [UserName], [Password]) VALUES (4, N'90844442-dcde-4ab7-9ee8-f22fbb84147f', N'PP', N'cGFzc3dvcmQ=')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[UserGroups]  WITH CHECK ADD  CONSTRAINT [FK_UserGroups_Groups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
GO
ALTER TABLE [dbo].[UserGroups] CHECK CONSTRAINT [FK_UserGroups_Groups]
GO
ALTER TABLE [dbo].[UserGroups]  WITH CHECK ADD  CONSTRAINT [FK_UserGroups_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserGroups] CHECK CONSTRAINT [FK_UserGroups_Users]
GO
ALTER TABLE [dbo].[UserLease]  WITH CHECK ADD  CONSTRAINT [FK_UserLease_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserLease] CHECK CONSTRAINT [FK_UserLease_Users]
GO
