<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_ILdapSsoService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:6041/LdapSsoService.svc"
        binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_ILdapSsoService"
        contract="LdapSsoClient.ILdapSsoService" name="wsHttpBinding_ILdapSsoService" />
    </client>
  </system.serviceModel>
</configuration>