<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <add name="AuthModule" type="AuthModule"/>
      </modules>
    </system.webServer>
  </location>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_ILdapSsoService"/>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:6041/LdapSsoService.svc" binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_ILdapSsoService" contract="LdapSsoClient.ILdapSsoService" name="wsHttpBinding_ILdapSsoService"/>
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>